include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/view_counter *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/view_counter/migration *.ini *.py *.mako
